.header{
	margin-bottom: 1rem;
}

.pyramids-list {
	display: grid;
	margin-top: 2.75rem;
	gap: 2.75rem;
	grid-template-columns: repeat(1,1fr);

	@media screen and (min-width: 640px) {
		grid-template-columns: repeat(2,1fr);
	}

	@media screen and (min-width: 1024px) {
		grid-template-columns: repeat(3,1fr);
	}

	@media screen and (min-width: 1280px) {
		grid-template-columns: repeat(4,1fr);
	}
}
