.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1rem;
}

.navigation {
	&__list {
		display: flex;
		padding-left: 0;
		gap: 50px;
		list-style: none;
		flex-wrap: wrap;
	}

	&__link {
		position: relative;
		color: #727272;
		font-weight: 600;
		text-decoration: none;
		transition: color 0.2s;

		&.active,
		&:hover {
			color: #424242;
		}

		&::before {
			position: absolute;
			bottom: -12px;
			left: 0;
			width: 0;
			height: 3px;
			border-radius: 4px;
			background-color: #424242;
			content: '';
			transition: width 0.2s;
		}

		&:hover::before,
		&.active::before {
			width: 30px;
		}
	}
}
